.container_card {
  margin: 20px 130px 0;
}

.bloc_card-pictures {
  margin: 20px 0;
}

.bloc_details-host {
  display: flex;
  justify-content: space-between;
}

.bloc_tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .bloc_card {
    margin: 25px 20px 0;
  }

  .bloc_details-host {
    margin-top: 10px;
  }
}
