.bloc_collapse-reliability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  padding: 11px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.bloc_collapse-reliability img {
  width: 24px;
  height: 14px;
}

.bloc_collapse-reliability p {
  color: #fff;
  font-size: 24px;
}

.bloc_collapse-description {
  height: auto;
  margin: 30px 30px 0 20px;
}

.bloc_collapse-description p {
  font-size: 18px;
  line-height: 25px;
}

.arrow_collapse-open {
  rotate: 180deg;
  transition: 0.2s;
}

.arrow_collapse-close {
  transition: 0.2s;
}

/****************** HOVER *****************/

.bloc_collapse-reliability:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .bloc_collapse-reliability {
    margin-top: 20px;
    padding: 8px 10px;
  }

  .bloc_collapse-reliability p {
    font-size: 13px;
  }

  .bloc_collapse-reliability img {
    width: 15px;
    height: 9px;
  }

  .bloc_collapse-description {
    margin-top: 20px;
  }

  .bloc_collapse-description p {
    font-size: 12px;
    line-height: 17px;
  }
}
