.bloc_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  margin-top: 43px;
  padding: 66px 0 29px;
}

.bloc_footer-img img {
  height: 40px;
  width: 122px;
}

.bloc_footer-para {
  margin-top: 22px;
}

.bloc_footer-para p {
  color: #fff;
  font-size: 24px;
}

@media (max-width: 767px) {
  .bloc_footer {
    margin-top: 22px;
    padding-bottom: 62px;
  }

  .bloc_footer-para p {
    font-size: 12px;
  }
}
