.bloc_home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 100px;
}

.bloc_home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../assets/img/cliff.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.bloc_home-title h1,
.bloc_home-title span {
  color: #fff;
  font-weight: 500;
  font-size: 48px;
}

.bloc_home-announcement {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 60px;
  margin: 43px 0 0;
  padding: 56px 0;
  border-radius: 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bloc_home-section {
    margin: 60px 50px 0;
  }

  .bloc_home-announcement {
    background: none;
    display: block;
    width: 100%;
    margin-top: 0;
    max-width: 1024px;
    min-width: 0;
  }
}

@media (max-width: 767px) {
  .bloc_home-section {
    margin: 0 20px 0;
  }

  .bloc_home-title {
    height: 111px;
    justify-content: flex-start;
  }

  .bloc_home-title span {
    display: flex;
    font-size: 24px;
  }

  .bloc_home-title h1 {
    font-size: 24px;
    margin-left: 16px;
  }

  .bloc_home-announcement {
    background: none;
    padding: 0;
    margin: 2px 0;
    gap: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 767px;
    min-width: 0;
  }
}
