.bloc_notfound-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc_notfound-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 65px;
}

.bloc_notfound-img img {
  width: 600px;
}

.bloc_notfound-para {
  text-align: center;
  margin: 0 20px;
}

.bloc_notfound-para p {
  font-size: 36px;
}

.bloc_notfound-link {
  margin: 150px 0;
}

.bloc_notfound-link p {
  font-size: 18px;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bloc_notfound-section {
    margin: 0 50px 0;
  }

  .bloc_notfound-img img {
    width: 400px;
  }

  .bloc_notfound-para p {
    font-size: 28px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .bloc_notfound-img {
    margin: 250px 0 65px;
  }

  .bloc_notfound-link {
    min-height: 190px;
  }
}

@media (max-width: 767px) {
  .bloc_notfound-img {
    margin: 200px 0 15px;
  }

  .bloc_notfound-img img {
    width: 200px;
  }

  .bloc_notfound-para p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 25px;
  }

  .bloc_notfound-link {
    margin: 130px 0 19px;
  }

  .bloc_notfound-link p {
    font-size: 14px;
  }
}
