.bloc_carousel {
  position: relative;
}

.bloc_arrow-left {
  position: absolute;
  top: 40%;
  left: 20px;
  transition: 0.5s;
  z-index: 2;
}

.bloc_slider-pictures {
  height: 415px;
}

.bloc_slider-pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  z-index: 1;
  border-radius: 25px;
}

.bloc_arrow-right {
  position: absolute;
  top: 40%;
  right: 20px;
  transition: 0.5s;
  z-index: 2;
}

.slider_arrow-left,
.slider_arrow-right {
  width: 47px;
}

.digital {
  position: absolute;
  color: #fff;
  left: 50%;
  bottom: 25px;
  font-size: 18px;
}

/***************** HOVER ****************/

.bloc_arrow-left img:hover,
.bloc_arrow-right img:hover {
  filter: invert(10%);
  cursor: pointer;
  transition: 0.5s;
}

.bloc_arrow-left img:active,
.bloc_arrow-right img:active {
  transform: scale(0.7);
}

@media (max-width: 767px) {
  .bloc_slider-pictures {
    height: 225px;
  }

  .bloc_slider-pictures img {
    border-radius: 10px;
  }

  .slider_arrow-left,
  .slider_arrow-right {
    width: 12px;
  }

  .bloc_arrow-left {
    top: 45%;
    left: 5px;
  }

  .bloc_arrow-right {
    top: 45%;
    right: 5px;
  }

  .digital {
    left: 45%;
    bottom: 10px;
    font-size: 12px;
  }
}
