.bloc_tags {
  display: inline-block;
  vertical-align: middle;
}

.bloc_tags_para {
  background-color: #ff6060;
  padding: 0 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.bloc_tags_para p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 6px 0 4px;
}

@media (max-width: 767px) {
  .bloc_tags {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .bloc_tags_para {
    border-radius: 5px;
  }

  .bloc_tags_para p {
    font-size: 10px;
    padding: 4px 0 2px;
  }
}
