.bloc_nav-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
}

.bloc_img {
  width: 150px;
  background-color: #fff;
}

.bloc_img img {
  width: 100%;
}

.bloc_links {
  display: flex;
  column-gap: 60px;
}
